.border{
  width: 50%;
}
.links{
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.card{
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.cscard{
  margin-top: 70px;
}
#ilike{
  margin-right: 245px;
}

.media{
  margin-right: 100px;
}
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

#morebtn{
  display: flex;
  margin: auto;
  border-radius: 20px;
}
#nextpreve{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#contain{
  text-align: center;
}
#navbar{
  

}
...
module: {
  rules: [
    {
      test: /\.css$/,
      use: ['style-loader', 'css-loader']
    }
  ]
}
...
import 'bootstrap/dist/css/bootstrap.min.css';
