#navbarSupportedContent{
  text-align: left;
}
.border{
  width: 20%;
}
.links{
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.nepre{
  margin-left: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card{
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.cscard{
  margin-top: 70px;
}
#ilike{
  margin-right: 200px;
}
.nav-link{
  margin-right: 15px;
  margin-left: 15px;
}
.media{
  margin-right: 100px;
}
.cards{
  border: 2px solid black;
}
.card1, .card2, .card3{
  margin-top: 50px;
}
